/*@font-face {
    font-family: t1;
    src: url("../font/VarelaRound-Regular.ttf");
}*/

:root {
    --whiteBG: #fff;
    --blackBG: #222836;
    --whiteText: #fff;
    --blackText: #000;
    --whiteBorder: #fff;
    --blackBorder: #000;
    --borderRadiusDefault: 1em;
    --fillWidth: 100%;
    --fillHeight: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: t1, sans-serif;
}

body {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    height: var(--fillHeight);
    overflow-x: hidden;
    color: var(--blackText);
}

.createur {
    border-radius: var(--borderRadiusDefault);
    margin: 1em auto;
    padding: .5em;
    border: 1px solid var(--whiteText);
    width: var(--fillWidth);
}

#listeCreateur {
    width: 15em;
    margin: auto;
}

#accueil {
    background: var(--blackBG);
    color: var(--whiteText);
}

#home {
    background: var(--blackBG);
    color: var(--whiteText);
}

#navBarre {
    background: var(--blackBG);
    color: var(--whiteText);
    width: calc(100% - 2em);
    margin: -1em -1em 0 -1em;
    padding: 2em;
    display: flex;
    position: fixed;
    z-index: 1;
}

#navBarre div {
    margin: 0 1em;
    width: max-content;
}

#navBarre a {
    color: var(--whiteText);
    text-decoration: none;
}

.list,
.item {
    background: #bbb4;
    padding: 1em;
    border-radius: var(--borderRadiusDefault);
    min-width: 350px;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.item {
    display: flex;
    flex-wrap: wrap;
    height: 70%;
}

.itemContent {
    display: flex;
    height: 85%;
    width: var(--fillWidth);
    transform: translateY(-75%);
}

li {
    margin-left: 3em;
}

.itemContent img {
    height: 98%;
    width: 98%;
    display: block;
    max-height: 15em;
    object-fit: cover;
    border-radius: var(--borderRadiusDefault);
}

.itemBg img {
    height: var(--fillHeight);
    width: var(--fillWidth);
    display: block;
    object-fit: cover;
    border-radius: var(--borderRadiusDefault);
}

.itemBg {
    width: var(--fillWidth);
    height: var(--fillHeight);
    filter: blur(1em);
    mix-blend-mode: overlay;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.num {
    float: left;
    font-size: 2em;
    width: 2em;
    height: 1em;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 15px;
    margin-right: 1em;
}

.num_item {
    background: #30f1;
}

.num_liste {
    background: #32364f;
}

.num_liste,
.num_item {
    text-shadow: 3px 3px 5px var(--blackText);
    box-shadow: 3px 3px 7px #0008;
}

.description {
    flex: 1;
    min-width: 10em;
    text-align: left;
    text-shadow: 0 0 3px black;
}

#formulaires {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

a {
    color: var(--whiteText);
    text-decoration: none;
}

.boutton,
.bouttonPPerso,
.bouttonHome {
    color: var(--blackBG);
    background: var(--whiteBG);
    border-radius: var(--borderRadiusDefault);
    padding: 1em 2em;
    margin-top: 3em;
    border: var(--whiteBorder) 2px solid;
    margin: 0 1em;
    display: inline-block;
}

.bouttonDisabled {
    background-color: black;
}

.boutton:hover {
    background: var(--whiteBG)2;
    color: var(--whiteText);
    transition: 0.5s;
}


/*
body span {
    width: 10em;
    height: 10em;
    background: rgb(138, 124, 177);
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}*/

.deuxColonnes {
    display: flex;
    width: var(--fillWidth);
    flex-wrap: wrap;
    justify-content: center;
}

.deuxColonnes div {
    padding: 2em;
    width: calc(45% - 2em);
    min-width: 300px;
}

.deuxColonnes div:nth-of-type(1) {
    border-right: var(--whiteBorder) 2px solid;
}

.deuxColonnes div input,
div input,
form input {
    padding: 1em;
    background: var(--whiteBG)2;
    color: var(--whiteText);
    border: 0;
    border-bottom: 1px solid var(--blackBorder);
    font-size: large;
    width: 90%;
    margin: 0.5em;
    border-radius: var(--borderRadiusDefault);
}

#topBarre {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3em;
    justify-content: right;
    display: flex;
    align-items: center;
}

#topBarre a {
    color: var(--whiteText);
}

.small {
    height: 75%;
    padding: 0.5em;
    margin: 0.5em;
}

a.boutton.small {
    background: none;
    border: none
}

.titre {
    font-weight: lighter;
    font-size: 5em;
    padding-top: 1em;
}

form {
    background: var(--blackBG);
    padding: 1em;
}

#token {
    background: var(--blackBG);
    padding: 1em;
    color: var(--whiteText);
    margin: 1em;
}

.fBlanc {
    color: var(--blackText);
    text-decoration: underline;
}

.lienSCouleur {
    color: var(--blackText);
    text-decoration: none;
}

#connexion {
    background: var(--blackBG);
    color: var(--whiteText);
    padding-left: 30%;
    padding-right: 30%;
}

#profilPic {
    width: 10vw;
    height: var(--fillHeight);
    overflow: hidden;
    border-radius: 5vw;
}

.section {
    padding: 2em;
    background: var(--whiteBG)3;
    border-radius: .5em;
}

#infoCompte {
    display: flex;
    text-align: start;
    border-radius: .5em;
}

#infoListe {

    border-radius: .5em;
}

#infoCompte ul {
    list-style: none;
}

#infoListe div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info * {
    margin: 0.4em 2em;
}

.info *:nth-child(4n) {
    min-width: 20%;
}

.info:nth-child(n+3) {
    border-top: 1px solid rgb(0, 0, 0);
}

.info {
    padding: 1em 0;
}

progress.info {
    height: 50%;
}

#infoListe h1 {
    margin-bottom: 1em;
}

#infoListe progress {
    margin: 2px 0;
    width: var(--fillWidth);
}

.info a:nth-of-type(2) {
    flex: 1;
}

#infoListe li span,
#infoListe li a {
    padding: 0 1em;
    width: fit-content;
}


/*#infoListe li progress,
*/

#infoCompte span {
    right: 2em;
    position: absolute;
}

.disconnect {
    color: #f00 !important;
}

input[type="radio"] {
    width: 1em;
}

.error {
    color: #f00;
}

.formulaire {
    color: var(--whiteText);
    min-width: 350px;
}

.public {
    background: #f00a;
}

.priv {
    background: #0f0a;
}

.public,
.priv {
    padding: 2px 10px;
    border-radius: 5px;
    display: inline-block;
}

.redBG {
    background: #f00 !important;
}

#message {
    padding: 1em;
    margin-bottom: 1em;
    background: #557;
    border-radius: var(--borderRadiusDefault);
    border: 0.1em solid #f00;
}

.messageListe {
    background: var(--whiteBG)2;
    padding: 1em 0;
    margin: 1em;
}

.prix:after {
    content: "\20AC";
    margin-left: 0.5em;
}

#mainContent {
    margin-top: 4em;
}

#modifListe {
    font-size: xx-large;
    position: absolute;
    top: -1.5em;
    right: 0;
}

.itemReserve {
    margin: 1em 0;
}

.listeBouton {
    margin-top: 1em;
}

#listeBoutonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bouttonHome,
.bouttonPPerso {
    display: block;
    max-width: 250px;
}

.bouttonHome {
    margin: auto;
}

.noDisplay {
    display: none;
}