* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    padding: 1em;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    overflow-x: hidden;
    color: #000;
}

#accueil {
    background: #222836;
    color: #fff;
}

#navBarre {
    background: #222836;
    color: #fff;
    width: calc(100% - 2em);
    margin: -1em -1em 0 -1em;
    padding: 2em;
    display: flex;
}

#navBarre div {
    margin: 0 1em;
    width: max-content;
}

#navBarre a {
    color: #fff;
    text-decoration: none;
}

.list,
.item {
    margin: 0 1em;
    background: #22283666;
    padding: 1em;
}

.item {
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-left: 3em;
}

.item img {
    height: 98%;
    width: 98%;
    display: block;
    max-height: 15em;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.num {
    float: left;
    height: inherit;
    font-size: 2em;
    width: 2em;
    height: 1em;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 15px;
    margin-right: 1em;
}

.num_item {
    background: #30f1;
}

.num_liste {
    background: #f031;
}

.description {
    flex: 1;
    min-width: 10em;
    text-align: left;
}


/*
input {
    padding: 5px;
    background: #0002
}

input[type="number"] {
    width: 60px;
}

input[type="submit"] {
    width: 100%;
    margin-top: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    background: #0000;
    border: 0;
    border-bottom: 1px solid #0002;
}*/

#formulaires {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


/*Debut du deuxieme CSS
*/

* {
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.boutton {
    color: #222836;
    background: #fff;
    border-radius: 1em;
    padding: 1em 2em;
    margin-top: 3em;
    border: #fff 2px solid;
    margin: 0 1em;
}

.boutton:hover {
    background: #fff2;
    color: #fff;
    transition: 0.5s;
}

body span {
    width: 10em;
    height: 10em;
    background: rgb(138, 124, 177);
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}

.deuxColonnes {
    display: flex;
    width: 100%;
}

.deuxColonnes div {
    padding: 2em;
    width: 50%;
}

.deuxColonnes div:nth-of-type(1) {
    border-right: #000 2px solid;
}

.deuxColonnes div input,
div input,
form input {
    padding: 1em;
    background: #fff2;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: large;
    width: 90%;
    margin: 0.5em;
    border-radius: 1em;
}

#topBarre {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3em;
    vertical-align: middle;
    justify-content: right;
    display: flex;
    align-items: center;
}

#topBarre img {
    margin: right;
}

#topBarre a {
    color: #fff;
}

.small {
    height: 75%;
    padding: 0.5em;
    margin: 0.5em;
}

a.boutton.small {
    background: none;
    border: none
}

.titre {
    font-weight: lighter;
    font-size: 5em;
    padding-top: 1em;
}

form {
    background: #222836;
    padding: 1em;
}

#token {
    background: #222836;
    padding: 1em;
    color: #fff;
    margin: 1em;
}

.fBlanc {
    color: #000;
    text-decoration: underline;
}

#connexion {
    background: #222836;
    color: #fff;
    padding-left: 30%; 
    padding-right: 30%;
}